<!-- views/vip.ejs -->

<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <h1>All you needed to remember about your VIP!<br/></h1>
    <p>
    Name: <%= weight %> oz<br>
    DOB:<%= mailType %><br>
    </p>
</body>

</html>
