<!-- views/vip.ejs -->

<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <h1>All you needed to remember about your VIP!<br/></h1>
	<!-- To do list all VIPs associated with user -->
	<legend>VIP</legend>
	<h2>These are your VIPs!</h2>
	<p>
		<%= vip.first_name %> <%= vip.last_name %>
	</p>

	<a href="addvip">Create a New VIP</a>
<!-- 
	<form action="/newVIP" class="login" method="post">
	First Name: <input type="text" id="fname" name="fname"><br> 
	Middle Name: <input type="text" id="mname" name="mname"><br> 
	Last Name: <input type="text" id="lname" name="lname"><br> 
	DOB: <input type="date" id="dob" name="dob"><br>
	Wedding Anniversary: <input type="date" id="wedDate" name="wedDate"><br><br>
	<legend>VIP Contact Details</legend>
	Phone: <input type="tel" id="phone" name="phone"><br>
	<select name="Phone Type">
		<option value="cell">Cell</option>
		<option value="home">Home</option>
		<option value="business">Business</option>
	</select>
	Email: <input type="email" id="name" name="name"><br>
	Address: <input type="text" id="addy1" name="addy1"><br>
	Address 2: <input type="text" id="addy2" name="addy2"><br>
	City: <input type="text" id="city" name="city"><br>
	State: <input type="text" id="state" name="state"><br>
	Zip: <input type="text" id="zip" name="zip"><br>
	Country: <input type="text" id="country" name="country"><br><br>
	<legend>VIP Family</legend> -->
	

	<input type="submit" value="Create User"><br>
</body>

</html>
